# environment files
.idea/
venv/

# corpora
WeeBitBalanced/
WeeBit-NoSpecialChar/
WeeBitBalancedCache/

# pycache
*.pyc

# ReadNet
readnet.py

# Output directory
trainer

# csv files
*.csv

# glove
glove.6B.100d.txt

# Predictions directory
predictions

# ReadNet training cache
models
